*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

html{
    font-size: 16px;
}

body{
    background-color: #1f242d;
}

    /* Navbar - Section*/

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5em 9%;
    font-size: 1rem;
    background-color: #1f242d;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 100;
}

.nav-heading{
    font-size: 2.3em;
    font-weight: 700;
    color: white;
    text-decoration: none;
    transition: 0.3s linear;
}

.nav-heading:hover{
    color: #7cf03d;
}

.hamburger{
    display: none;
    font-size: 1rem;
    cursor: pointer;
}

.nav-links{
    display: flex;
}

.navbar ul li {
    list-style-type: none;
    width: 7em;
    height: 2.4em;
    margin-left: 2em;
    font-size: 1.25em;
    font-weight: 500;
    border-radius: 10px;
    color: white;
    transition: 0.3s linear;
}

.navbar ul li:hover{
    background-color: #24243e;
    box-shadow: 0 0 10px #7cf03d;
    color: #7cf03d;
    transform: translatey(-3px);
}

.navbar ul li a{
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: 0.3s linear;
}

.navbar ul li a:hover{
    color: #7cf03d;
    
} 

.navbar ul li.active a{
    color: #7cf03d;
}

.navbar ul li.active a:hover{
    color: #7cf03d;
}

.navbar ul li a i{
    margin-right: 1em;
}

    /* Main - Section */

main{
    color: white;
}

.hero-section{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-left-section{
    height: 50vh;
    width: 50vw;
    padding-left: 2em;
    padding-top: 3em;
}

.hero-left-section-description{
    margin-left: 0.7em;
    margin-bottom: 0.7em;
}

.hero-left-section-description p{
    padding: 0.7em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    font-weight: 300;
}

.hero-left-section-description h2{
    font-family: sans-serif;
    font-size: 2.8em;
    font-weight: 700;
}

.btn-icons{
    display: flex;
    align-items: center;
}

.btn{
    display: inline-block;
    padding: 0.7em 2em;
    font-size: 1em;
    background: transparent;
    border: 2px solid #7cf03d;
    border-radius: 20px;
    color: #7cf03d;
    transition: 0.3s linear;
    position: relative;
    overflow: hidden;
}

.btn:hover{
    background-color: #7cf03d;
    color: black;
    box-shadow: 0 0 10px #7cf03d;
    transform: translateY(-3px);
}

.btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.15);
    transition: 0.4s ease;
}

.btn:hover::after {
    left: 100%;
}


.btn i{
    margin-right: 0.6em;
}

.icons{
    margin-left: 1.25em;
}

.icons a{
    display: inline-flex;
    font-size: 1.25em;
    margin: 0 4px;
    padding: 0.55em;
    text-decoration: none;
    color: #7cf03d;
    border: 2px solid #7cf03d;
    border-radius: 50%;
    transition: 0.3s linear;
}

.icons a:hover {
    background-color: #7cf03d;
    color: #1f242d;
    box-shadow: 0 0 10px #7cf03d;
    transform: translatey(-10px) rotate(360deg);
}

.hero-right-section{
    height: 70vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-box{
    width: 350px;
    height: 450px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

.img-box:hover{
    transform: scale(1.03);
}

.img-box::before{
    content: '';
    position: absolute;
    width: 300px;
    height: 150%;
    background-color: #7cf03d;
    animation: rotate 4s linear infinite;
}

.img-box::after{
    content: '';
    position: absolute;
    background-image: url("assets/images/hero-img.jpg");
    background-size: cover;
    border-radius: 10px;
    inset: 8px;
}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

/* TechStack - Section  */

.techstack{
    height: 80vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo-container{
    height: 80vh;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.logo{
    height: 8em;
    width: 8em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.web-logo{
    height: 80vh;
    width: 50%;
    background-image: url("assets/images/web-dev-logo.jpg");
    background-size: cover;
}

.icon1{
    animation: moving 1s ease-in-out infinite alternate;
}

@keyframes moving{
    0%{
        transform: scale(2) translateY(0px);
    }
    100%{
        transform: scale(2) translateY(-20px);
    }
}

.icon2{
    animation: flip 2s ease-in-out infinite alternate;
}

@keyframes flip{
    0%{
        transform: scale(2) rotateY(0deg);
    }
    100%{
        transform: scale(2) rotateY(360deg);
    }
}

.icon3{
    
    animation: rotateAndScale 2s ease-in-out infinite alternate;
}

@keyframes rotateAndScale{
    0%{
        transform: scale(1.5) rotate(0deg);
    }
    100%{
        transform: scale(2) rotate(360deg);
    }
}


.icon4 {
  animation: sidemoving 2s ease-in-out infinite alternate;
}

@keyframes sidemoving {
  0% {
    transform: scale(2) translateX(20px);
    opacity: 0;
  }
  100% {
    transform: scale(2) translateX(0px);
    opacity: 1;
  }
}

.icon5 {
  animation: heartbeat 2s linear infinite alternate;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(3);
  }
}


/* Education-Section */

.education-section{
    height: 90vh;
    width: 100%;
    background: linear-gradient(#0f0c29, #302b63, #24243e);
    color: #f8fafc;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.education-details{
    height: 12.5em;
    width: 21.875em;
    background-color: #1e293b;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 1.25em;
    transition: 0.3s linear;
}

.education-details:hover{
    border: 2px solid #7cf03d;
    box-shadow: 0 0 10px #7cf03d;
    transform: scale(1.05);
}

.education-details-left-section{
    height: 90%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0.65em;
    padding-right: 2px;
}

.education-icon{
    transform: scale(2.5);
}

.education-details-right-section{
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 0.65em;
}

.education-details-right-section p{
    margin-top: 0.65em;
    font-size: 1.1em;
}

.education-details-right-section b{
    font-size: 1.25em;
}

/* Projects Section */

.projects-section{
    height: 80vh;
    width: 100%;
    background-color: #0f172a;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.project-container{
    height: 12.25rem;
    width: 21.875rem;
    background-color: #1e293b;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 1.25em;
    transition: 0.3s linear;
}

.project-container:hover{
    border: 2px solid #7cf03d;
    box-shadow: 0 0 10px #7cf03d;
    transform: scale(1.05);
}

.project-left-section{
    height: 90%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-image-container{
    height: 90%;
    width: 90%;
    border-radius: 1.25em;
}

.portfolio-img{
    background-image: url("assets/images/portfolio.jpg");
    background-size: cover;
}

.amazon-img{
    background-image: url("assets/images/Shopping.jpg");
    background-size: cover;
}

.login-page-img{
    background-image: url("assets/images/login-page.jpg");
    background-size: cover;
}

.project-right-section{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.project-right-section p{
    margin: 0.625em 0px;
    font-size: 1em;
}

.project-right-section button{
    display: inline-block;
    padding: 0.625em 1.25em;
    font-size: 16px;
    background: transparent;
    border: 2px solid #7cf03d;
    border-radius: 1.25em;
    color: #7cf03d;
    transition: 0.3s linear;
    position: relative;
    overflow: hidden;
}

.project-right-section button:hover{
    background-color: #7cf03d;
    color: black;
    box-shadow: 0 0 14px #7cf03d;
    transform: translateY(-3px);
}

.project-right-section button::after{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.15);
    transition: 0.4s ease;
}

.project-right-section button:hover::after{
    left: 100%;
}

.project-right-section button i{
    margin-right: 3px;
}

/* Footer - Section */

/* Form - Section */

footer{
    height: 80vh;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-container{
    height: 60vh;
    width: 100%;
    margin-top: 1.875rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container h1{
    font-size: 2.5em;
}

.form{
    height: 60vh;
    width: 50%;
    margin-top: 0.625em;
    padding-top: 0.625em;
    background-color: black;
    border-radius: 1.875em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.name, .email{
    height: 3.125em;
    width: 90%;
    color: white;
    font-size: 1em;
    background-color: black;
    border: 2px solid #7cf03d;
    border-radius: 0.625em;
}

.reason{
    height: 5em;
    width: 90%;
    color: white;
    font-size: 1em;
    background-color: black;
    border: 2px solid #7cf03d;
    border-radius: 0.625em;
}

.form button{
    height: 3.125em;
    width: 17.25em;
    font-size: 1.25em;
    color: #7cf03d;
    background-color: black;
    border: 2px solid #7cf03d;
    border-radius: 0.625em;
    position:relative;
    overflow: hidden;
    transition: 0.4s linear;
}

.form button:hover{
    color: white;
    background-color: #7cf03d;
    box-shadow: 0 0 10px #7cf03d;
}

.form button::after{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.15);
    transition: 0.4s ease;
}

.form button:hover::after{
    left: 100%;
}

.form button i{
    margin-right: 0.5em;
}

/* Social - Media - Buttons */

.social-media-buttons-container{
    height: 12vh;
    width: 50%;
    background-color: black;
    border-radius: 1em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.social-media-buttons-container button{
    height: 2.5em;
    width: 7.5em;
    font-size: 1.125em;
    background-color: transparent;
    border-radius: 0.5em;
    transition: 0.4s linear;
    position: relative;
    overflow: hidden;
}

.social-media-buttons-container button:hover{
    transform: translateY(-5px);
    border: 2px solid white;
    box-shadow: 0 0 10px white;
    color: white;
}

.social-media-buttons-container button::after{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.15);
    transition: 0.4s ease;
}

.social-media-buttons-container button:hover::after{
    left: 100%;
}

.social-media-buttons-container button i{
    margin-right: 0.7em;
}

.gmail-button{
    color: #fa4f4f;
    border: 2px solid #fa4f4f;
}

.gmail-button:hover{
    background-color: #fa4f4f;
}

.linkedin-button{
    color: rgb(0, 110, 254);
    border: 2px solid rgb(0, 110, 254);
}

.linkedin-button:hover{
    background-color: rgb(0, 110, 254);
}

.naukri-button{
    color: rgb(8, 8, 253);
    border: 2px solid rgb(8, 8, 253);
}

.naukri-button:hover{
    background-color: rgb(8, 8, 253);
}

.instagram-button{
    color: #ff0073;
    border: 2px solid #ff0073;
}

.instagram-button:hover{
    background-color: #ff0073;
}

/* Scrolling Animations */

html{
    scroll-behavior: smooth;
}

.autoshow{
    animation: autoshowAnimation both;
    animation-timeline: view(60% 10%);
}

@keyframes autoshowAnimation{
    from{
        opacity: 0;
        transform: translateY(160px) ;
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

/* Responsiveness for mobiles */

@media (max-width:767px) {

    html{
        font-size: 14px;
    }

    .hamburger{
        display: block;
    }

    .nav-heading{
        font-size: 1.65em;
        font-weight: 500;
    }

    .nav-links{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 5em;
        right: 3.25em;
        width: 10em;
        padding-right: 1.2em;
        border-radius: 0.625em;
    }

    .nav-links.active {
        display: flex;
        align-items: center;
        padding-left: 0%;
        font-size: 0.7em;
        background-color: slateblue;
        color: white;
    }

    .nav-links.active li:hover{
        background: none;
        box-shadow: none;
        border: none;
        transform: none;
    }

    .nav-links.active i{
        display: none;
    }

    .hero-section{
        margin-top: 50px;
        width: 100vw;
        flex-direction: column-reverse;
    }

    .hero-left-section{
        width: 100vw;
        text-align: center;
    }

    .hero-left-section .btn-icons{
        flex-direction: column;
        gap: 1em;
        text-align: center;
    }

    .hero-left-section .btn-icons .btn i{
        margin-right: 0.3em;
    }

    .hero-right-section{
        width: 100vw;
    }

    .techstack{
        width: 100vw;
        flex-direction: column-reverse;
    }

    .logo-container{
        width: 100vw;
    }

    .logo{
        height: 4em;
        width: 4em;
    }

    .web-logo{
        width: 100vw;
    }

    .education-section{
        flex-direction: column;
        width: 100vw;
    }

    .education-details{
        height: 12.5em;
        width: 26em;
    }

    .projects-section{
        width: 100%;
        flex-direction: column;
    }

    .project-container{
        height: 12.5em;
        width: 26em;
    }

    .project-right-section button i{
        margin-right: 0.3em;
    }

    .footer{
        width: 100vw;
    }

    .form-container{
        width: 100vw;
    }

    .form-container h1{
        font-size: 2em;
    }

    .form{
        width: 100vw;
    }

    .form button{
        width: 10em;
    }

    .form button i{
        margin-right: 0.3em;
    }

    .social-media-buttons-container{
        width: 100vw;
    }

    .social-media-buttons-container button{
        width: 6em;
    }

    .social-media-buttons-container button i{
        margin-right: 0.1em;
    }

}